.desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3rem;
    margin: 1rem;
    cursor: pointer;
}

.icon-img {
    width: 2.8rem;
    height: 2.8rem;
    object-fit: contain;
}

.icon-title {
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 4px;

    text-shadow:
            0.35px 0 0 black,
            -0.35px 0 0 black,
            0 0.35px 0 black,
            0 -0.35px 0 black,
            1px 1px 2px black;
}

@media (max-width: 600px) {
    .desktop-icon {
        width: 2.6rem;
        margin: 0.5rem;
    }

    .icon-img {
        width: 2.2rem;
        height: 2.2rem;
    }

    .icon-title {
        font-size: 11px;
        max-width: 3.5rem;
        word-break: break-word;
    }
}
